body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  /* background-image: url("/images/wickedbackground.svg");
  background-repeat: no-repeat;
  background-size: cover; */
  height: 100vh;
  margin-top: 4rem;
  font-family: 'Bitter', serif;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #8a817c;
  font-size: 0.5rem;
}

header > img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 4px solid #e0afa0;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  border-radius: 2rem;
  background-color: #bcb8b1;
  padding: 1rem;
  margin-top: 1rem;
}

li:hover {
  background-color: #e0afa0;
  opacity: 50%;
  transition: 0.4s;
}

a {
  text-decoration: none;
  color: #f4f3ee;
}

ul {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

i {
  padding-right: 0.6rem;
}
